<script setup lang="ts">
import { useReceiptStore } from '@/stores/receipt'
import { type Ref, inject, ref } from 'vue'

const receiptStore = useReceiptStore()
let receive = ref(0)
let receiveresult = ref(0)
function calrecive() {
  receiveresult.value = receive.value - receiptStore.receipt?.total
}
</script>

<template>
  <v-dialog v-model="receiptStore.receiptDialog" max-width="350px">
    <v-card style="background-color: rgba(180, 143, 81, 1)">
      <v-card-title class="text-h5" style="text-align: center; color: white"
        >หน้ารับเงิน</v-card-title
      >
      <v-row>
        <v-col style="text-align: center; color: white"> ยอดรวม </v-col>
        <v-col> </v-col>
        <v-col style="text-align: center; color: white">
          {{ receiptStore.receipt?.total }}
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="1"></v-col>
        <v-col style="text-align: center" cols="10">
          <v-text-field
            v-model="receive"
            :rules="[(v) => !!v || 'Field is required']"
            class="mb-2"
            clearable
            label="เงินที่รับมา"
            style="color: white"
          ></v-text-field>
          <v-btn><v-icon @click="calrecive()"> mdi-calculator-variant </v-icon></v-btn>
        </v-col>
        <v-col cols="1"> </v-col>
      </v-row>
      <v-row>
        <v-col style="text-align: center; color: white"> เงินทอน </v-col>
        <v-col> </v-col>
        <v-col style="text-align: center; color: white">
          {{ receiveresult }}
        </v-col>
      </v-row>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          variant="outlined"
          color="white"
          @click="
            () => {
              receiptStore.receiptDialog = false
            }
          "
          >ปิด</v-btn
        >
        <v-btn
          color="white"
          variant="outlined"
          @click="
            () => {
              receiptStore.endDialog = true
            }
          "
          >ชําระเงิน</v-btn
        >
        <v-spacer></v-spacer>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <v-dialog v-model="receiptStore.endDialog" max-width="420px">
    <v-card>
      <v-card-title class="text-h5" style="text-align: center">ใบเสร็จ</v-card-title>
      <v-row>
        <v-col style="text-align: center">
          <v-img
            src="src\assets\DcoffeeLogo2.png"
            width="100px"
            class="mx-auto my-auto"
            style="max-width: 100%; max-height: 100%"
          ></v-img>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-table>
            <thead>
              <tr>
                <th class="black-text">No.</th>
                <th class="black-text">สิ้นค้า</th>
                <th class="black-text">ราคาต่อชิ้น</th>
                <th class="black-text">จํานวน</th>
                <th class="black-text">ราคารวม</th>
              </tr>
            </thead>

            <tbody>
              <!-- using v-for like below will get item and index form the array -->
              <tr v-for="(item, index) of receiptStore.receiptItems" :key="item.id">
                <td>{{ index + 1 }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.unit }}</td>
                <td>{{ item.price * item.unit }}</td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>
      <v-row>
        <v-col style="text-align: center"> ยอดก่อนหัก </v-col>
        <v-col> </v-col>
        <v-col style="text-align: center">
          {{ receiptStore.receipt?.totalBefore }}
        </v-col>
      </v-row>
      <v-row>
        <v-col style="text-align: center"> ส่วนลดรวม </v-col>
        <v-col> </v-col>
        <v-col style="text-align: center">
          {{ receiptStore.receipt?.totalDiscount }}
        </v-col>
      </v-row>
      <v-row>
        <v-col style="text-align: center"> ยอดรวม </v-col>
        <v-col> </v-col>
        <v-col style="text-align: center">
          {{ receiptStore.receipt?.total }}
        </v-col>
      </v-row>
      <v-row>
        <v-col style="text-align: center"> รับเงิน </v-col>
        <v-col> </v-col>
        <v-col style="text-align: center">
          {{ receive }}
        </v-col>
      </v-row>
      <v-row>
        <v-col style="text-align: center"> เงินทอน </v-col>
        <v-col> </v-col>
        <v-col style="text-align: center">
          {{ receiveresult }}
        </v-col>
      </v-row>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue-darken-1"
          variant="text"
          @click="
            () => {
              receiptStore.endDialog = false
            }
          "
          >ปิด</v-btn
        >
        <v-btn
          color="blue-darken-1"
          variant="text"
          @click="
            () => {
              receiptStore.endDialog = false
              receiptStore.receiptDialog = false
              receiptStore.clear()
            }
          "
          >ชําระเงิน</v-btn
        >
        <v-spacer></v-spacer>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style scoped>
.black-text {
  color: black;
}
</style>
