<script setup lang="ts">
import { ref } from 'vue'
import { useRouter } from 'vue-router'
import { useUserStore } from '@/stores/user'

const loginStore = useUserStore()
const visible = ref(false)
const router = useRouter()

const handleLogin = () => {
  loginStore.login()

  // Check if login failed, and redirect to login page if needed
  if (!loginStore.isLoggedIn) {
    router.push('/')
  }
}
</script>

<template>
  <div>
    <v-row>
      <v-col>
        <v-container>
          <div>
            <v-card class="mx-auto pa-12 pb-8" elevation="10" max-width="448" rounded="lg">
              <v-img src="\src\assets\DcoffeeLogo.png" height="150"></v-img>
              <div style="font-weight: bolder; font-size: 30px; text-align: center">D-Coffee</div>
              <br />

              <div class="text-subtitle-1 text-medium-emphasis">Username</div>

              <v-text-field
                v-model="loginStore.username"
                density="compact"
                placeholder="User"
                prepend-inner-icon="mdi-account"
                variant="outlined"
                :rules="[(v) => !!v || 'Field is required']"
              ></v-text-field>

              <div
                class="text-subtitle-1 text-medium-emphasis d-flex align-center justify-space-between"
              >
                Password

                <a
                  class="text-caption text-decoration-none text-blue"
                  href="#"
                  rel="noopener noreferrer"
                  target="_blank"
                ></a>
              </div>

              <v-text-field
                v-model="loginStore.password"
                :append-inner-icon="visible ? 'mdi-eye-off' : 'mdi-eye'"
                :type="visible ? 'text' : 'password'"
                density="compact"
                placeholder="Enter your password"
                prepend-inner-icon="mdi-lock-outline"
                variant="outlined"
                :rules="[(v) => !!v || 'Field is required']"
                @click:append-inner="visible = !visible"
              ></v-text-field>

              <v-card class="mb-8" color="surface-variant" variant="tonal">
                <v-card-text class="text-medium-emphasis text-caption" style="text-align: center">
                  หากลืม Username หรือ Password โปรดแจ้งผู้จัดการ
                </v-card-text>
              </v-card>

              <v-btn block class="mb-8" color="green" size="large" @click="handleLogin"
                >Log In</v-btn
              >

              <v-dialog v-model="loginStore.dialogFailed" max-width="500px">
                <v-card>
                  <v-card-title class="text-red text-h5">Error</v-card-title>
                  <v-card-text>Username or Password wrong!</v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" @click="loginStore.closeDialog">OK</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-card>
          </div>
        </v-container>
      </v-col>
    </v-row>
  </div>
</template>
