<script lang="ts" setup>
import { useMemberStore } from '@/stores/member'

const memberStore = useMemberStore()
</script>
<template>
  <v-btn prepend-icon="mdi-account-multiple-plus" elevation="10" block
    >Add New Member
    <!-- add new member dialog -->

    <v-dialog v-model="memberStore.addNewMemberDialog" persistent activator="parent" width="auto">
      <v-card color="rgba(114, 87, 42, 1)" min-width="400pt">
        <v-container>
          <v-row>
            <v-card-title>
              <v-icon icon="mdi-account-multiple-plus"></v-icon>
              Add New Member
            </v-card-title>
          </v-row>
        </v-container>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="auto" md="12">
                Member's Name
                <v-text-field
                  clearable
                  label="Name"
                  variant="outlined"
                  v-model="memberStore.editedMember.name"
                ></v-text-field>
              </v-col>
              <v-col cols="auto" md="12">
                Member's Phone
                <v-text-field
                  clearable
                  label="Telephone Number"
                  variant="outlined"
                  v-model="memberStore.editedMember.tel"
                ></v-text-field>
              </v-col>

              <v-col cols="auto" md="12">
                Member's Point
                <v-text-field
                  clearable
                  label="Point"
                  variant="outlined"
                  v-model="memberStore.editedMember.point"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-container>
            <v-row>
              <v-col
                ><v-btn
                  color="white"
                  @click="memberStore.cancel()"
                  elevation="4"
                  block
                  rounded="lg"
                  variant="outlined"
                  >Cancel
                </v-btn></v-col
              >
              <v-col
                ><v-btn
                  color="white"
                  @click="memberStore.save"
                  elevation="4"
                  block
                  rounded="lg"
                  variant="outlined"
                  >Save
                </v-btn>
              </v-col>
            </v-row>
          </v-container>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-btn>
</template>
